#navbar ul{
    display: flex;
    justify-content: space-around;
    font-size: small;
   
    }
#navbar li {
 display: inline-block;
 margin-top: 5px;             }
#navbar{
    gap: 300px;
}
#nav-bar a{
    text-decoration: none;
    color:white;
}
body{
    background-color: purple;
}
.todo-list{
    width: 100%;
    /* max-width: 530px; */
    background-color: rgb(233, 189, 196);
    margin: 200px auto 20px;
    padding: 10px; 
    border-radius: 10px;
}
.row{
    display: flex;
    align-items: center;
    gap: 10%;
    padding-left: 20px;
    margin-bottom: 25px;
    padding-left: 20px;
}
#input-box{
    flex: 1;
    border: 1px solid;
    background-color: transparent;
}
body{
    height: 100vh;
    background: purple;
}
button{
    background-color: palevioletred;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 130px;
    height: 40px;
    opacity: 0.9;
    border-radius: 15px;
}
button:hover{
    opacity: 1;
}
#container{
    border-radius: 20%;
    width: 400px;
    height: 00px;
    text-align: center;
    border-radius: 10%;
    background-color: purple;
    color: aliceblue;

}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
form{
    display: flex;
    justify-content: center;
}
#navbar ul{
    display: flex;
    justify-content: space-around;
    font-size: small;
   
    }
#navbar li {
 display: inline-block;
 margin-top: 5px;
}
#navbar{
    gap: 300px;
}
#nav-bar a{
    text-decoration: none;
    color:white
}
    
#login{
        display: flex;
        gap: 40px;
        margin-left: 120px;
        margin-top: 18px;
}
.home{
    margin-top: 20%;
    color: white;
    display: flex;
    text-align: center;
}
.journey{
    text-align: center;
}
body{
    background-color: purple;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container1{
    color: aliceblue;
    border: solid 1px;
    width: 300px;
    height: 300px;
    text-align: center;
    margin-left: 35%;
    margin-top: 15%;
    background-color: purple;

}
.row{
    margin-left: 30%;
    background-color: rgb(219, 25, 193);
padding: 10px;
border-radius: 4px;
justify-content: space-between;
align-items: center;
}
.container{
    border-radius: 12px;
    width: 50%;
    height: 70%;

    
}
.achievements{
    text-align: center;
}
#image1{
    border-radius: 50%;
}
.achieve{
    text-align: center;
}
#mentor{
    text-align: center;
    margin-bottom: 10px;
    color: aliceblue;
}
#nyj{
    color: aliceblue;
}
#sign{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#up{
    margin-top: 9%;
    margin-left: 15%;
}
#container2{
    color: aliceblue;
    border: solid;
}
#rest{
    margin-left: 23%;
}
#rest a{
    text-decoration: none;
}
#all{
    text-align: center;
}
body{
    height: 100vh;
    background: purple;
}
.container{
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
}
.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}
.todo-container {
    display: flex;
    flex-direction: row;
  }
  
  li {
    padding: 10px;
  }
  #list{
    text-align: center;
  }
  #signup{
    margin-right: 20px;
  }
  #sentence{
    color: #ddd;
    text-align: center;
  }
  #form a{
    text-decoration: none;
  }
  .todo-list{
    width: 150%;
    max-width: 540px;
    background-color: #fff;
    margin: 200px auto 20px;
    padding: 10px;
    border-radius: 10px;
}
.todo-list1{
    width: 10%;
    max-width: 540px;
    margin: 200px auto 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: purple;
    margin-right: 0%;
}
#everything{
    display: flex;
    gap: 32px;
    /* margin-bottom: 120px; */
    margin-top: -100px;
}
.row{
    display: flex;
    align-items: center;
    gap: 20%;
    padding-left: 20px;
    margin-bottom: 25px;
    padding-left: 0px;
}
#input-box{
    flex: 1;
    border: 1px solid;
    background-color: transparent;
}

@media screen and (min-width: 250px) and (max-width:900px){
    #navbar ul{
        display: flex;
        justify-content: space-around;
        font-size: small;
       
        }
    #navbar li {
     display: inline-block;
     margin-top: 5px;             }
    #navbar{
        gap: 00px;
    }
    #everything{
        display: grid;
  
      
    }
    #nav-bar a{
        text-decoration: none;
        color:white;
    }
    body{
        background-color: purple;
    }
    .todo-list{
        width: 140px;
        max-width: 530px;
        background-color: rgb(233, 189, 196);
        margin: 200px auto 20px;
        padding: 10px;
        border-radius: 10px;
    }
    .row{
        /* display: flex; */
        align-items: center;
        gap: 20%;
        /* padding-left: 20px; */
        margin-bottom: 25px;
        padding-left: 20px;
    
    }
    #input-box{
        flex: 1;
        border: 1px solid;
        background-color: transparent;
    }
    body{
        height: 100vh;
        background: purple;
    }
    button{
        background-color: palevioletred;
        color: white;
        /* padding: 14px 20px; */
        /* margin: 8px 0; */
        margin-left: -30px;
        border: none;
        cursor: pointer;
        width: 130px;
        height: 40px;
        opacity: 0.9;
        border-radius: 15px;
    }
    button:hover{
        opacity: 1;
    }
    #container{
        border-radius: 20%;
        width: 400px;
        height: 00px;
        text-align: center;
        border-radius: 10%;
        background-color: purple;
        color: aliceblue;
    
    }
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    form{
        display: flex;
        justify-content: center;
    }
    #navbar ul{
        display: grid;
        justify-content: space-around;
        font-size: small;
       
        }
    #navbar li {
     display: inline-block;
     margin-top: 0px;             }
    #navbar{
        gap: 00px;
    }
    #nav-bar a{
        text-decoration: none;
        color:white}
        
    #login{
            display: flex;
            gap: 40px;
            /* margin-left: 120px; */
            margin-top: 18px;
    }
    .home{
        margin-top: 20%;
        color: white;
        display: flex;
        text-align: center;
    }
    .journey{
        text-align: center;
    }
    body{
        background-color: purple;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .container1{
        color: aliceblue;
        border: solid 1px;
        width: 300px;
        height: 300px;
        text-align: center;
        margin-left: 0;
        margin-top: 0;
        background-color: purple;
    
    }
    .row{
        margin-left: 0%;
        background-color: rgb(219, 25, 193);
    padding: 10px;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    }
    .container{
        border-radius: 12px;
        width: 50%;
        height: 70%;
    
        
    }
    .achievements{
        text-align: center;
     
    }
    #image1{
        border-radius: 50%;
    }
    .achieve{
        text-align: center;
    }
    #mentor{
        text-align: center;
        margin-bottom: 10px;
        color: aliceblue;
    }
    #nyj{
        color: aliceblue;
    }
    #sign{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    #up{
        margin-top: 9%;
        /* margin-left: 15%; */
    }
    #container2{
        color: aliceblue;
        border: solid;
    }
    #rest{
        /* margin-left: 23%; */
    }
    #rest a{
        text-decoration: none;
    }
    #all{
        text-align: center;
    }
    body{
        height: 100vh;
        background: purple;
    }
    .container{
        width: 40%;
        top: 50%;
        /* left: 50%; */
        background: white;
        border-radius: 10px;
        min-width: 450px;
        position: absolute;
        min-height: 100px;
        transform: translate(-50%,-50%);
    }
    .task button{
        background-color: #6583e5;
        color: #ffffff;
        border: none;
        cursor: pointer;
        outline: none;
        height: 100%;
        width: 40px;
        border-radius: 5px;
    }
    .todo-container {
        display: flex;
        flex-direction: row;
      }
      
      li {
        padding: 10px;
      }
      #list{
        text-align: center;
      }
      #signup{
        margin-right: 20px;
      }
      #sentence{
        color: #ddd;
        text-align: center;
      }
      #form a{
        text-decoration: none;
      }
      .todo-list{
        display: grid;
        width: 270px;
        max-width: 540px;
        background-color: #fff;
        /* margin: 200px auto 20px; */
        /* padding: 10px; */
        border-radius: 10px;
    }
    .todo-list1{
        width: 150%;
        max-width: 540px;
        margin: 200px auto 20px;
        padding: 10px;
        border-radius: 10px;
        background-color: purple;
        /* margin-right: 30%; */
    }
    .row{
        display: flex;
        align-items: center;
        gap: 20%;
        /* padding-left: 20px; */
        margin-bottom: 25px;
        /* padding-left: 20px; */
    }
    #input-box{
        flex: 1;
        border: 1px solid;
        background-color: transparent;
    }
    
    
}
    














