
body{
    background-color: purple;
}



#home{
    text-align: center;
}

@media screen and (min-width: 250px) and (max-width:900px){
    
    body{
        background-color: purple;
        display: grid;
        /* flex-wrap: wrap; */
        width: 50px;

    }
    h2{
        font-size: 12px;
        /* margin-left: 10px; */
    }
    #home{
        /* text-align: center; */
    }
    /* .lady img{
        width: 80px;
    } */
    #home img{
        width: 300px;
        /* margin-left: 10px; */
    }
    #home p{
        /* margin-left: -10px; */
    }
}
@media screen and (min-width: 250px) and (max-width:1000px){
    body{
        background-color: purple;
        display: grid;
        /* flex-wrap: wrap; */
        width: 50px;

    }
    h2{
        /* font-size: 17px; */
        /* margin-left: 10px; */
    }
    #home{
        /* text-align: center; */
        margin-left: 50px;
    }
    /* .lady img{
        width: 80px;
    } */
    #home img{
        width: 250px;
        /* margin-left: 10px; */
    }
    #home p{
        /* margin-left: -10px; */
    }   
}
    
