#nyj{
    color: aliceblue;
}
body{
    background-color: purple;
}
#sentence{
    color: white;
    /* text-align: center; */
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    background-color: rgb(112, 68, 10);
}
#navbar ul{
    font-size: small;
   
    }
#navbar li {
 display: inline-block;
 margin-top: 5px;             }
#navbar{
    gap: 300px;
}
#nav-bar a{
    text-decoration: none;
    color:white}
.all{
    overflow-x: hidden;
}

    @media screen and (min-width: 250px) and (max-width:900px){
    #nyj{
        color: aliceblue;
    }
    body{
        background-color: purple;
    }
    #sentence{
        color: white;
            text-align: center;
             /* margin-left: 50px; */
            /* margin-right: 50px; */
        
    } 
    #sentence img{
        margin-right: 700px; 
        
        /* margin-left: 100px;  */
    }
    #sentence p{
        /* font-size: x-large; */
    }
     
}