#nyj{
    color: aliceblue;
}
body{
    background-color: purple;
}
#sentence{
    color: white;
}
@media screen and (max-width: 650px){
    #nyj{
        color: aliceblue;
    }
    body{
        background-color: purple;
    }
    #sentence{
        color: white;
    }  
}