#nyj{
    color: aliceblue;
}
body{
    background-color: purple;
}
#sentence{
    color: white;
}
#navbar ul{
    font-size: small;
   
    }
#navbar li {
 display: inline-block;
 margin-top: 5px;             }
#navbar{
    gap: 300px;
}
#nav-bar a{
    text-decoration: none;
    color:white}

@media screen and (max-width: 650px){
    #nyj{
        color: aliceblue;
    }
    body{
        background-color: purple;
    }
    #sentence{
        color: white;
    }  
}